In [18]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import pingouin as pg
import scipy.stats as stats
from scipy.stats import chi2_contingency

data_dir = 'data/datasheets'
analysis_dir = 'analysis/descriptive_stats'
os.makedirs(analysis_dir, exist_ok=True)

In [19]:
# laod preprocessed thalamic nuclei volumes 
all_data = pd.read_csv(os.path.join(data_dir, 'CombinedThalamicNucleiCorrected_combinedHemis.csv'), index_col=0)

# separate preterm and term subjects
preterm_data = all_data[all_data['blsgroup'] == 1]
fullterm_data = all_data[all_data['blsgroup'] == 2]

# Descriptive stats

Descriptive statistics for:
- <b> Age_at_scan:</b> age of participant at MRI scan
- <b> sex:</b> </b> sex of participant (1=male, 2=female)
- <b>TIV_corrected:</b> estimated total intracranial volume calculated by FreeSurfer, corrected for scanner-effect using NeuroCombat
- <b>inti:</b> intensity of neonatal treatment
- <b>GA:</b> gestational age
- <b>BW:</b> birth weight

In [20]:
# measures for descriptive statistics
measures = ['Age_at_scan', 'sex', 'TIV_corrected', 'inti', 'GA', 'BW', 'wie_gesiq']

## Preterm stats

In [21]:
descriptive_stats_preterm = preterm_data[measures].describe()
descriptive_stats_preterm.to_csv(os.path.join(analysis_dir,'DescriptiveStatsPreterm.csv'), index=True)
descriptive_stats_preterm

,Age_at_scan,sex,TIV_corrected,inti,GA,BW,wie_gesiq
count,83.000000,83.000000,8.300000e+01,82.000000,83.000000,83.000000,80.000000
mean,26.728926,1.481928,1.561197e+06,11.846707,30.373494,1321.204819,93.562500
std,0.640219,0.502711,1.487558e+05,3.609270,2.173627,318.989057,11.872576
min,25.706849,1.000000,1.230073e+06,3.390000,25.000000,730.000000,71.000000
25%,26.215068,1.000000,1.467277e+06,9.522500,29.000000,1060.000000,85.000000
50%,26.668493,1.000000,1.562092e+06,12.345000,30.000000,1360.000000,93.000000
75%,27.271233,2.000000,1.662911e+06,14.495000,31.000000,1497.500000,100.000000
max,28.342466,2.000000,1.857163e+06,17.580000,36.000000,2070.000000,131.000000

In [22]:
# amount males
pt_male = preterm_data[preterm_data['sex']==1]
n_males = pt_male.shape[0]
print(n_males)

43

In [23]:
# amount females
pt_fem = preterm_data[preterm_data['sex']==2]
n_fem = pt_fem.shape[0]
print(n_fem)

40

## Fullterm stats

In [24]:
descriptive_stats_fullterm = fullterm_data[measures].describe()
descriptive_stats_fullterm.to_csv(os.path.join(analysis_dir, 'DescriptiveStatsFullterm.csv'), index=True)
descriptive_stats_fullterm

,Age_at_scan,sex,TIV_corrected,inti,GA,BW,wie_gesiq
count,92.000000,92.000000,9.200000e+01,1.0,91.000000,91.000000,89.000000
mean,26.813758,1.423913,1.647537e+06,0.0,39.670330,3399.340659,102.876404
std,0.766407,0.496885,1.593090e+05,NaN,1.011654,437.210354,11.727803
min,25.487671,1.000000,1.289947e+06,0.0,37.000000,2120.000000,77.000000
25%,26.131507,1.000000,1.546094e+06,0.0,39.000000,3135.000000,96.000000
50%,26.794521,1.000000,1.642290e+06,0.0,40.000000,3410.000000,102.000000
75%,27.376712,2.000000,1.724494e+06,0.0,40.000000,3680.000000,110.000000
max,28.901370,2.000000,2.078900e+06,0.0,41.000000,4670.000000,130.000000

In [25]:
# amount males
ft_male = fullterm_data[fullterm_data['sex']==1]
n_males = ft_male.shape[0]
print(n_males)

53

In [26]:
# amount females
ft_fem = fullterm_data[fullterm_data['sex']==2]
n_fem = ft_fem.shape[0]
print(n_fem)

39

# Group comparisons

## Sex

In [27]:
# create contingency table
contingency_table = [[(preterm_data['sex'] == 1).sum(), (fullterm_data['sex'] == 1).sum()],
                     [(preterm_data['sex'] == 2).sum(), (fullterm_data['sex'] == 2).sum()]]
print(contingency_table)

# Perform chi-square test
print(chi2_contingency(contingency_table))

[[43, 53], [40, 39]]
Chi2ContingencyResult(statistic=0.38190295147983194, pvalue=0.5365865644261065, dof=1, expected_freq=array([[45.53142857, 50.46857143],
       [37.46857143, 41.53142857]]))

## Age

In [28]:
var='Age_at_scan'
print(stats.ttest_ind(preterm_data[var], fullterm_data[var]))

Ttest_indResult(statistic=-0.7899255830516784, pvalue=0.43065261664351395)

## Gestational age

In [29]:
var='GA'
print(stats.ttest_ind(preterm_data[var], fullterm_data[var], nan_policy='omit'))

Ttest_indResult(statistic=-36.68393303981656, pvalue=3.037607077361392e-83)

## Birth weight

In [30]:
var='BW'
print(stats.ttest_ind(preterm_data[var], fullterm_data[var], nan_policy='omit'))

Ttest_indResult(statistic=-35.52616311635247, pvalue=3.984258013352533e-81)

## eTIV

In [31]:
var='TIV_corrected'
print(stats.ttest_ind(preterm_data[var], fullterm_data[var]))

Ttest_indResult(statistic=-3.693923931411879, pvalue=0.0002959245542876834)

## full-scale IQ

In [32]:
var='wie_gesiq'
print(stats.ttest_ind(preterm_data[var], fullterm_data[var], nan_policy='omit'))

Ttest_indResult(statistic=-5.124775889127329, pvalue=8.158915551954021e-07)